body {
  background: pink;
}

body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  color: #333;
}

h1 {
  margin-bottom: 15px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.navbar {
  background: black;
  color: white;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-btn {
  background: darkred;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 18px;
}

.logo {
  width: 80px;
  display: block;
  margin: 0 auto 10px;
}

h1 {
  color: dark;
}

.dashboard-title {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.centered-button {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #ce0000;
  color: white;
  padding: 8px 12px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 5px;
}

.register-btn {
  padding: 12px 24px;
  font-size: 18px;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background: red;
}

.task-table {
  width: 90%;
  border-collapse: collapse;
  background: white;
  margin: auto;
  font-size: 14px;
}

.task-table th {
  background: #222;
  color: white;
  padding: 10px;
}

.task-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.task-table tr:hover {
  background: #f2f2f2;
}

.task-table tr:nth-child(even) {
  background: #fafafa;
}

.task-table th {
  background: #ddd;
}

.empty {
  text-align: center;
  padding: 15px;
  font-style: italic;
  color: black;
}

.edit {
  color: green;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
}

.delete { color: #dc3545; }

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: auto;
}

input, select, button {
  padding: 8px;
  font-size: 14px;
}

button {
  background: darkred;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  padding: 0;
  font-weight: bold;
}